/* Global Styles */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
html,body
{
   position:relative;
   height:100%;
   width:100%;
}
#main{
  width: 100%;
  position: relative;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
  }
  
  .hero {
    text-align: center;
    padding: 3rem 1rem;
    background: #ffe3d3;
    background-image: url("https://images.unsplash.com/photo-1422493757035-1e5e03968f95?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3Vuc2V0fGVufDB8fDB8fHww");
    background-position: center;
    background-size: cover;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .btn-primary {
    padding: 0.7rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .features, .advantages, .global {
    /* padding: 2rem 1rem; */
    text-align: center;
    width: 100%;
    padding-top: 10vh;
  }
  
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .feature img{
    width: 250px;
    height: 150px;
  }
  .advantage-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .card img {
    width: 200px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 1rem;
  }
  .advantages h2{
    margin-bottom: 10vh;
  }
  .map {
    width: 80%;
    margin: 1rem auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  